/* //////////////////header///////////// */
header{
    width: 1300px;
    /* border: #004182 solid 1px; */
}

.logoPrincipal{
    /* height: 60px; */
    width: 400px;
}
/* ////boton de menu//// */
.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: #2579CD;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
/* 
.btn-menu {
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    color: #004182;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    transition: all 0.5s ease;
  }
  .btn-menu:hover {
    letter-spacing: 3px;
    background-color: hsl(234, 37%, 42%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0 65 130) 0px 7px 29px 0px;
  }
  .btn-menu:active {
    letter-spacing: 3px;
    background-color: hsl(234, 37%, 42%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0 65 130) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  } */

/* .navbar-toggler{
    border: none;
} */
.navbar-toggler:focus{
    box-shadow: none;
}
ul{
    display: flex;
    align-items: center;
    column-gap: 4rem;
    row-gap: 1rem;
}

.nav-link-li{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: #004182;
    text-decoration-line: none;
}
.nav-link-li:hover{
    color: #80CB2B;
}
.nav-link-li:focus{
    color: #004182;
    text-decoration-line: underline;
}
/* ///responsive design navbar///*/
@media (max-width: 400px) {
    header{
        width: 367px;
    }
    
    .logoPrincipal{
        /* height: 30px; */
        width: 200px;
    }
}

/*/////////////////Section Banner Principal//////////////*/
.banner-principal{
    background-image: url(/assets/img/Banner\ 1.png);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-bann-princ{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    height: 400px;
    width: 400px;


    /* border: solid 1px white; */
}
.isotipo{
    width: 90px;
}
.h1-principal{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
}
  /* btn de banner principal */

/*   
.btn-principal {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    height: 3rem;
    width: 10rem;
    color: #004182;
    background-color: #C5E6FF;
    border: none;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  .btn-principal span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 45px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
  }
  .btn-principal span:nth-child(6) {
    position: relative;
  }
  .btn-principal span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  .btn-principal span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  .btn-principal span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  .btn-principal span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  .btn-principal span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  .btn-principal:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
  .btn-principal .text:hover{
    color: #80CB2B;
  } */
    
  .btn-cssbuttons {
    --btn-color: #C5E6FF;
    position: relative;
    padding: 16px 60px;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    line-height: 1;
    color: #004182;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 30px;
   }
   
   .btn-cssbuttons::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    border-radius: 24px;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons span,
   .btn-cssbuttons span span {
    display: inline-flex;
    vertical-align: middle;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons span {
    transition-delay: 0.05s;
   }
   
   .btn-cssbuttons span:first-child {
    padding-right: 7px;
   }
   
   .btn-cssbuttons span span {
    margin-left: 8px;
    transition-delay: 0.1s;
   }
   
   .btn-cssbuttons ul {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateY(-50%);
   }
   
   .btn-cssbuttons ul li {
    flex: 1;
   }
   
   .btn-cssbuttons ul li a {
    display: inline-flex;
    vertical-align: middle;
    transform: translateY(55px);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons ul li a:hover {
    opacity: 0.5;
   }
   
   .btn-cssbuttons:hover::before {
    transform: scale(1.2);
   }
   
   .btn-cssbuttons:hover span,
   .btn-cssbuttons:hover span span {
    transform: translateY(-55px);
   }
   
   .btn-cssbuttons:hover ul li a {
    transform: translateY(0);
   }
   
   .btn-cssbuttons:hover ul li:nth-child(1) a {
    transition-delay: 0.15s;
   }
   
   .btn-cssbuttons:hover ul li:nth-child(2) a {
    transition-delay: 0.2s;
   }
   
   .btn-cssbuttons:hover ul li:nth-child(3) a {
    transition-delay: 0.25s;
   }




  /* /////responvive design banner principal//// */
  @media (max-width: 400px) {
    .h1-principal{
        font-size: 45px;
    }
  }

  /* ////Circulos decorativos//// */
  .contenedor-circulos{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    height: 8rem;
    
    /* border: 1px solid black; */
  }
  .circulo{
    background-color: #80CB2B;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    /* border: 1px solid black; */
  }

  /* ////////////////////Section About Us////////////////// */

  .about-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;

    /* border: 1px solid black; */
  }
  .about-img{
    width: 700px;
  }
  .about-text1{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    /* border: 1px solid black; */
  }
  .h2-about{
    font-family: 'Nunito', sans-serif;
    color: #004182;
    font-size: 2.5rem;
  }
  .h2-about span{
    color: #80CB2B;
  }
  .about-p{
    font-family: 'Quicksand', sans-serif;
    color: #004182;
    font-weight: 500;
    font-size: 1.3rem;
  }
 

    /* ////responsive design about-1/// */

    @media (max-width: 400px) {
      .about-img{
        width: 350px;
      }
      .about-text1{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
      }
      .about-p{
        text-align: center;
        font-size: 1.2rem;
      }
      
    }

  /* ////////////////// */

  .about-2{
    margin-top: 5rem;

    /* border: 1px solid black; */
  }
  .img-text{
    background-image: url(/assets/img/Banner\ 2.png);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 500px;
    width: 100%;
    text-align: center;
    padding-top: 1.5rem;

    /* border: 1px solid black; */
  }
  .about-p-2{
    font-family: 'Quicksand', sans-serif;
    color: #004182;
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 3rem;

    /* border: 1px solid black; */
  }

  /* ////////////////////// */


  .about-cards{
    margin-top: -7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;


    /* align-items: center; */
    /* height: 600px; */
    /* border: 1px solid black; */
  }
  .card-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    height: 350px;
    width: 280px;
    border-radius: 20px;
    background-color: #C5E6FF;

    /* border: 1px solid black; */
  }
  .card-about1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    height: 390px;
    width: 300px;
    border-radius: 20px;
    background-color: #C5E6FF;

    /* border: 1px solid black; */
  }
  .about-icono{
    width: 70px;
  }
  .about-icono-escudo{
    width: 60px;
  }
  .text-card{
    text-align: center;
  }
  .about-h3-card{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #004182;
  }
  .about-p-card{
    font-family: 'Quicksand', sans-serif;
    font-weight: medium;
    margin-top: 1rem;
    font-size: 1rem;
    color: #004182;
  }

  /* ////responsive design about-2/// */

  @media (max-width: 400px) {
    .about-p-2{
      font-size: 1.1rem;
    }
  }

  /* /////////////////////section Our Services/////////////// */

  .our-services{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    column-gap: 3rem;

    /* border: black solid 1px; */
  }
  .contenedor-sub-cards{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .h2-sub-cards{
    font-family: 'Nunito', sans-serif;
    color: #004182;
    font-size: 2.5rem;
  }
  .h2-sub-cards span{
    color: #80CB2B;
  }
  .sub-cards{
    display: flex;
    column-gap: 6rem;
  }
  /* .subC{} */
  .icon-sub-cards{
    width: 80px;
  }
  .h3-sub{
    margin-top: 1rem;
    color: #004182;
  }
  .p-sub{
    margin-top: -10px;
    font-family: 'Quicksand', sans-serif;
    color: #004182;
    font-weight: 500;
    font-size: 1.1rem;
  }
  .img-sub-cards{
    height: 500px;
    width: 400px;
  }
  /* ////responsive design Our Services/// */

  @media (max-width: 400px) {
    .our-services{
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }
    .contenedor-sub-cards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1.5rem;
    }
    .sub-cards{
      display: flex;
      column-gap: 1rem;
    }
    .icon-sub-cards{
      width: 50px;
    }
    .subC{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .h3-sub{
      font-size: 20px;
    }
    /* .contenedor-text-sub{ */
      /* text-align: center; */
    /* } */
    .p-sub{
      font-size: 0.8rem;
    }
    .img-sub-cards{
      /* height: 400px;
      width: 300px; */
      display: none;
    }
  }

/* ////////////////section Our Specialite////////////// */

.our-specialites{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;


  /* border: black solid 1px; */
}
.h2-speciatilte{
  font-family: 'Nunito', sans-serif;
  color: #004182;
  font-size: 2.5rem;
}
.h2-speciatilte span{
  color: #80CB2B;
}

.contenedor-specialite{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  margin-top: 2rem;
}
.item-specilaite{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.icono-item-specialite{
  width: 100px;
}
.h3-specialite{
  font-family: 'Quicksand', sans-serif;
  color: #004182;
  font-weight: bold;
  text-align: center;
}
.line-decoration-specialite{
  height: 3px;
  width: 8rem;
  border-radius: 10px;
  background-color: #004182;
}
.isotipo-specialite{
  margin-top: 5rem;
  width: 250px;

}

/* ////carrusel//// */
.carrusel-specialite{
    width: 1200px;
    margin-top: 4rem;

  /* border: black solid 1px; */
}
.d-bloc{
  height: 500px;
  width: 1200px;

  /* border: black solid 1px; */
}
.carousel-control-design{
  background-color: #2579CD;
  opacity: 50%;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-top: 14rem;
}
.carousel-control-design:hover{
  opacity: 100%;
}
.carousel-control-next{
  margin-right: -4rem;
}
.carousel-control-prev{
  margin-left: -4rem;
}

 /* ////responsive design specilite carrudel/// */

 @media (max-width: 400px) {
  .contenedor-specialite{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .carrusel-specialite{
    height: 150px;
    width: 370px;
  }
  .d-bloc{
    height: 150px;
    width: 370px;
  }
  .carousel-control-design{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-top: 3.5rem;
  }
  .carousel-control-next{
    margin-right: 0px;
  }
  .carousel-control-prev{
    margin-left: 0px;
  }
  .carousel-indicators{
    margin-bottom: 0px;
  }
  .isotipo-specialite{
    width: 150px;
  
  }
  
 }

 /* ////////////////section choose Us////////////// */

.choose-Us{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;


  /* border: black solid 1px; */
}
.contenedor-choose{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 939px;
  width: 1418px;


  /* border: black solid 1px; */
}
.choose-item {
  height: 470px;
  width: 709px;


  /* border: black solid 1px; */
}

/* Box 1 and 4 */
.choose-img{
  height: 470px;
  width: 710px;
  /* height: 470px; */
  /* width: 650px; */
}

/* Box 2 */
.item-choose-card{
  display: flex;
  align-items: center;
  background-color: #004182;
}
.choose-card{
  height: 22rem;
  width: 40rem;
  background-color: #C5E6FF;
  border-radius: 20px;
  margin-left: -9rem;
  

  border: #C5E6FF solid 1px;
}
.h2-choose{
  font-family: 'Nunito', sans-serif;
  color: #004182;
  font-size: 3rem;
}
.h2-choose span{
  color: #80CB2B;
}
.p-choose{
  font-family: 'Quicksand', sans-serif;
  font-weight: medium;
  font-size: 1.5rem;
  color: #004182;
}
.contenedor-text-choose-1{
  margin-top: 1.2rem;
  margin-left: 3rem;
}

/* Box 3 */
.item-choose-text{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #51ADE6;
}
.h2-choose-2{
  font-family: 'Nunito', sans-serif;
  color: #004182;
  font-size: 3rem;
}
.h2-choose-2 span{
  color: #80CB2B;
}
.p-choose-2{
  font-family: 'Quicksand', sans-serif;
  font-weight: medium;
  font-size: 1.5rem;
  color: #004182;
}

/* ////responsive design specilite/// */

@media (max-width: 400px) {
  .choose-item {
    height: 300px;
    width: 391px;
  }
  .contenedor-choose{
    height: 1200px;
    width: 391px;
  }
  /* Box 1 and 4 */
  .choose-img{
    height: 300px;
    width: 391px;
  }
  /* Box 2 */
  .item-choose-card{
    display: flex;
    justify-content: center;
  }
  .choose-card{
    height: 230px;
    width: 360px;
    margin-top: -300px;
    margin-left: 0px;
  }
  .contenedor-text-choose-1{
    margin-top: 1rem;
    margin-left: 1.2rem;
  }
  .h2-choose{
    font-size: 2rem;
  }
  .p-choose{
    font-size: 14px;
  }
  /* Box 3 */
.h2-choose-2{
  font-size: 2.5rem;
}
.p-choose-2{
  font-size: 18px;
}
}



/* ///////////////////section green///////////// */

.section-green{
  background-image: url(/assets/img/Banner\ 3.png);
  background-position: center;
  background-size: cover;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  /* border: black solid 1px; */
}
.contenedor-green{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;


  /* border: black solid 1px; */
}
.h2-green{
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 3rem;
  text-align: center;
}
.contenedor-btn{
  display: flex;
  column-gap: 5rem;
}

/* btn contact */
.btn {
  width: 160px;
  height: 35px;
  background-color: white;
  /* background: linear-gradient(to top, #00154c, #12376e, #23487f); */
  color: #004182;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.btn span {
  font-family: 'Quicksand', sans-serif;
  font-weight: medium;
  font-size: 1.3rem;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

/* ////responsive design section green/// */

@media (max-width: 400px) {
  .h2-green{
    font-size: 2.2rem;
  }
  .contenedor-btn{
    display: flex;
    column-gap: 2.5rem;
  }
  .btn {
    width: 140px;
    height: 30px;
  }
  .btn span {
    font-size: 1.2rem;
  }
}

/* ///////////////////section Comment///////////// */

.comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.h2-comment{
  font-family: 'Nunito', sans-serif;
  font-size: 2.8rem;
  text-align: center;
  color: #004182;
  margin-bottom: 2rem;
}
.h2-comment span{
  color: #80CB2B;
}
.carousel-comment {
  width: 700px;

}
.carousel-control-prev-comment{
  background-color: #0c66ed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10rem;
  margin-left: -4rem;
}
.carousel-control-next-comment{
  background-color: #0c66ed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10rem;
  margin-right: -4rem;
}
.img-testimonio{
  width: 700px;
}

/* ////responsive design section comment/// */

@media (max-width: 400px) {
  .h2-comment{
    font-size: 2rem;
    text-align: center;
    color: #004182;
    margin-bottom: 2rem;
  }
  .img-testimonio{
    width: 360px;
  }
  .carousel-comment {
    width: 360px;
  
  }
  .carousel-control-next-comment{
    background-color: #0c66ed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 70px;
    margin-right: -1rem;
  }
  .carousel-control-prev-comment{
    background-color: #0c66ed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 70px;
    margin-left: -1rem;
  }
  
}



/* ///////////////////section end///////////// */
.end{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35rem;
  column-gap: 6rem;
  margin-bottom: 1.5rem;

  /* border: #004182 solid 1px; */
}
.logo-end{
  height: 340px;
  width: 290px;
}
.content-text-end{
  display: flex;
  align-items: center;
  column-gap: 4rem;
}
.p-end{
  font-family: 'Quicksand', sans-serif;
  font-weight: medium;
  font-size: 1.4rem;
  color: #004182 ;
}
.contact-end{
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;

}
.h3-end{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #004182 ;
}
.item-end{
  display: flex;
  align-items: center;
  column-gap: 2rem; 
  padding-left: 1rem;
  background-color: rgb(247, 229, 229);

  height: 3.9rem;
  width: 21.4rem;
  transition: all 0.2s ease;
  /* border: black solid 1px; */
}
.item-end:hover{
  margin-right: 3px;
  margin-top: -3px;
  margin-left: -3px;
  box-shadow: 4px 5px 10px rgb(155, 148, 148);
  transition: all 0.2s ease;

}
.item-end a{
  text-decoration-line: none;
}
.p-icono-end{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #004182 ;
  margin-top: 10px;
}
.icono-end{
  width: 25px;
}
.map-img-end{
  background-image: url(/assets/img/mapaGuticoClean.png);
  background-size: cover;
  background-position: center center;
  object-fit: cover ;
  height: 260px;
  width: 800px;
  border-radius: 20px;
  border: #004182 solid 7px;
}

/* ////responsive design section End/// */

@media (max-width: 400px) {

  .end{
    display: flex;
    flex-direction: column;
    height: 35rem;
    row-gap: 2rem;
    margin-bottom: 1.5rem;
  }
  .logo-end{
    height: 240px;
    width: 190px;
  }
  .content-text-end{
    column-gap: 1rem;
  }
  .h3-end{
    font-size: 1.5rem;
  }
  .p-end{
    font-size: 12px;
  }
  .contact-end{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }
  .item-end{
    column-gap: 0.5rem;   
    
    height: 1.9rem;
    width: 9rem;
  }
  .p-icono-end{
    font-size: 10px;
    margin-top: 15px;
  }
  .icono-end{
    width: 15px;
  }
  .map-img-end{
    height: 130px;
    width: 375px;
    border-radius: 20px;
    border: #004182 solid 3px;
    /* margin-left: 5px; */
  }
}

  /* ///////////////////footer///////////// */

  footer{
    background-color: #2579CD;
    height: 5rem;
    width: 100%;
    text-align: center;
  }
  .text-footer{
    padding-top: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: #004182;
  }
  .textABBA{
    color: #004182;
  }
    /* ////responsive design footer/// */

    @media (max-width: 400px) {
      .text-footer{
        font-size: 1rem;
        padding-top: 1rem;
      }
    }
    
/* /////////section boton flotante////// */
/* .btn-flotante{
  height: 100px;
  width: 100%;
  
  right: 10px;
}
    .btn-container{
      height: 40px;
      width: 40px;
      background-color: #80CB2B;
      color: #004182;
      text-align: center;
      font-size: 25px;
      border: #004182 solid 2px;
      border-radius: 50px;
      right: 50px;
    } */
