
<header class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="separador container-fluid">

      <img src="/assets/icono/Logotipo Gutico Clean .png" alt="logo" class="logoPrincipal">

      <button class="btn-menu hamburger navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNav" 
              aria-controls="navbarNav" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
              <!-- <i class="bi bi-list"></i> -->
              <label class="hamburger">
                <input type="checkbox">
                <svg viewBox="0 0 32 32">
                  <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                  <path class="line" d="M7 16 27 16"></path>
                </svg>
              </label>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link-li" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link-li" href="#">About Us</a></li>
          <li class="nav-item"><a class="nav-link-li" href="#">Services</a></li>
          <li class="nav-item"><a class="nav-link-li" href="#">Contact</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>
<!-- Cierre header -->

<!-- Section Home -->
<section class="banner-principal" id="home">
  <div class="contenedor-bann-princ">
    <img src="/assets/icono/Isotipo fantasma.png" alt="isotipo" class="isotipo">
      <h1 class="h1-principal">The Cleanliness <br> You Deserve</h1>
    <!-- <button class="btn-principal" type="button">Contact Us</button> -->
    <button class="btn-principal">
      <span class="circle1"></span>
      <span class="circle2"></span>
      <span class="circle3"></span>
      <span class="circle4"></span>
      <span class="circle5"></span>
      <span class="text">Contact Us</span>
    </button>
  </div>
</section>

<div class="contenedor-circulos">
  <div class="circulo"></div>
  <div class="circulo"></div>
  <div class="circulo"></div>
  <div class="circulo"></div>
</div>
<!-- cierre home -->

<!-- Section About Us -->
<section class=" aboutUs">

  <div class="about-1">

    <img src="/assets/img/Imagen seccion about us.png" alt="img-About Us" class="about-img">

    <div class="about-text1">
      <h2 class="h2-about">About <span>Us</span></h2>
      <p class="about-p">
        At Gutico Clean LLC we are a company<br> 
        that offers cleaning services for Offices,<br> 
        Restaurants and Commercial Sites in the<br>
        D.C., Maryland and Virginia area. We are<br>
        committed to providing exceptional<br>
        service and guaranteeing customer<br>
        satisfaction, we evaluate spaces and<br>
        develop the appropriate procedures<br>
        according to the needs of the<br>
        establishment. We ensure high quality<br>
        work in any space in the hands of our<br>
        qualified staff.
      </p>
    </div>

  </div>

  <div class="about-2">

    <div class="img-text">
      <p class="about-p-2">
        We specialize in a wide range of regular and deep cleaning services, our goal is<br>
        to meet your specific needs and ensure the hygiene and sanitation of the<br>
        spaces, our highly trained team is characterized by using the best products<br>
        and techniques to achieve a neat and organized result.
      </p>
    </div>

    <div class="about-cards">

      <div class="card-about">
        <img src="/assets/icono/Icono Values.png" alt="" class="about-icono">
        <div class="text-card">
          <h3 class="about-h3-card">Values</h3>
          <p class="about-p-card">
            The values of our company are<br>
            essentially based on<br>
            perseverance, passion and<br>
            honesty. Improving in the<br>
            resolution of the problems that<br>
            are presented to us in any area of<br>
            the work we do. 
          </p>
        </div>
      </div>

      <div class="card-about1">
        <img src="/assets/icono/Icono Objetive.png" alt="" class="about-icono">
        <div class="text-card">
          <h3 class="about-h3-card">Objective</h3>
          <p class="about-p-card">
            Our main objective as a company is<br>
            to provide an optimal personalized<br>
            service, adapted to the specific<br>
            requirements and needs of your<br>
            company, in order to offer the best<br>
            alternatives in the cleaning sector.<br>
            And as a result cause in our<br>
            customers confidence and security.
          </p>
        </div>
      </div>

      <div class="card-about">
        <img src="/assets/icono/Icono Method.png" alt="" class="about-icono">
        <div class="text-card">
          <h3 class="about-h3-card">Method</h3>
          <p class="about-p-card">
            For us it is essential to treat your<br>
            spaces with the utmost<br>
            transparency for your safety<br>
            and peace of mind, dedicating<br>
            ourselves </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- cierre about -->

<!-- section services -->
<section class="our-services">

  <div class="contenedor-sub-cards">
    <h2 class="h2-sub-cards">Our <span>Services</span></h2>

    <div class="sub-cards">

      <div class="subC">
        <img src="/assets/icono/Icono 1 seccion 3.png" alt="icono-sub-cards" class="icon-sub-cards">
        <div class="contenedor-text-sub">
          <h3 class="h3-sub">Standard cleaning</h3>
        <p class="p-sub">
          Cleaning services for clients,<br>
          in terms of organization of<br>
          common areas, cleaning and<br>
          other tasks.
        </p>
        </div>
      </div>

      <div class="subC">
        <img src="/assets/icono/Icono 2 seccion 3.png" alt="icono-sub-cards" class="icon-sub-cards">
        <div class="contenedor-text-sub">
          <h3 class="h3-sub">
            Deep cleaning<br>
            comercial
          </h3>
          <p class="p-sub">
            An optimal cleaning and<br>
            maintenance service for all<br>
            types of facilities and buildings.
          </p>
        </div>
      </div>
      
    </div>

    <div class="sub-cards">

      <div class="subC">
        <img src="/assets/icono/Icono 3 seccion 3.png" alt="icono-sub-cards" class="icon-sub-cards">
        <div class="contenedor-text-sub">
          <h3 class="h3-sub">Trash Removals</h3>
        <p class="p-sub">
          We clean and disinfect all<br>
          areas of your home or office<br>
          for moving in and settling in.
        </p>
        </div>
      </div>
  
      <div class="subC">
        <img src="/assets/icono/Icono 4 seccion 3.png" alt="icono-sub-cards" class="icon-sub-cards">
        <div class="contenedor-text-sub">
          <h3 class="h3-sub">Post Construction<br>Clean-up</h3>
        <p class="p-sub">
          We have the machinery and<br>
          professionals for the<br>
          adequate post construction<br>
          cleaning.
        </p>
        </div>
      </div>

    </div>

  </div>

  <img src="/assets/img/Imagen seccion 3.png" alt="" class="img-sub-cards">
    
</section>
<!-- Cierre section services -->

<!-- section specialties -->
<section class="our-specialites">
  <h2 class="h2-speciatilte">Our <span>Specialties</span></h2>
  
  <div class="contenedor-specialite">
    <div class="item-specilaite">
      <img src="/assets/icono/Icono 1 secicon 4.png" alt="icono-specialite" class="icono-item-specialite">
      <h3 class="h3-specialite">Oficce</h3>
    </div>

    <div class="line-decoration-specialite"></div>

    <div class="item-specilaite">
      <img src="/assets/icono/Icono 2 secicon 4.png" alt="icono-specialite" class="icono-item-specialite">
      <h3 class="h3-specialite">Sites<br>Commercial</h3>
    </div>

    <div class="line-decoration-specialite"></div>

    <div class="item-specilaite">
      <img src="/assets/icono/Icono 3 secicon 4.png" alt="icono-specialite" class="icono-item-specialite">
      <h3 class="h3-specialite">Restaurants</h3>
    </div>
  </div>

  <img src="/assets/icono/Isotipo fantasma con circulo.png" alt="isotipo" class="isotipo-specialite">

  <div class="carrusel-specialite">
    
    <!-- estos son intentos anteriores que medio funcionaron -->

    <!-- <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/img/Grupo fotos 1.png" class="d-block w-100" alt="img-slid">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/Grupo fotos 2.png" class="d-block w-100" alt="img-slid">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/Grupo fotos 3.png" class="d-block w-100" alt="img-slid">
        </div>
      </div>
      <button class="carousel-control-prev carousel-control-design" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next carousel-control-design" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="color carousel-control-next-icon"></span>
      </button>
    </div> -->
    <!-- <div *ngIf="images && images.length > 0" class="carrousel-container">
      <img *ngFor="let image of images; let i= index"
            [src]="image.imgSrc" 
            [alt]="image.imgAlt"
            [ngClass]="{'image-active': selectedIndex === i}">
    </div> -->

    <!-- cierre de los intentos anteriores -->

    
<!-- 
    @if (images) {
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    } -->


  </div>
</section>

<footer>
  <p class="text-footer">
    © Copyright - 2023/2024   |   Gutico Clean LLC   |   Todos los derechos reservados   |   
    By <a class="textABBA" href="">ABBA Studio</a>
  </p>
</footer>